<div id="preferences" class="pt-5">
  <div class="container mt-5 pt-5 pb-5">
  <h4 class="mb-3 text-center text-lg-start">Preferences</h4>
  <div class="row-line d-none d-lg-flex"></div>

  <div class="card">
    <div
    id="carouselExampleCrossfade"
    class="carousel slide carousel-fade carousel-dark"
    data-mdb-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-mdb-target="#carouselExampleCrossfade"
        data-mdb-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-mdb-target="#carouselExampleCrossfade"
        data-mdb-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-mdb-target="#carouselExampleCrossfade"
        data-mdb-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card p-4 ">
          <div class="card-body col d-flex mb-4">
            <div class="card-img d-none d-lg-flex">
              <i class="far fa-user fa-7x ps-3"></i>
            </div>
      
            <div class="card-inner col-10">
              <h5 class="card-title mb-1">
                Hans Hansson
              </h5>
              <div class="rating mb-2">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <div class="card-text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem eum nobis veniam nostrum voluptas exercitationem illum praesentium aliquam recusandae est! Officiis eos placeat corrupti quibusdam dolores vero deserunt facilis necessitatibus!
              </div>
            </div>
      
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card p-4 ">
          <div class="card-body col d-flex mb-4">
            <div class="card-img d-none d-lg-flex">
              <i class="far fa-user fa-7x ps-3"></i>
                
            </div>
      
            <div class="card-inner col-10">
              <h5 class="card-title mb-1">
                Kalle Karlsson
              </h5>
              <div class="rating mb-2">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <div class="card-text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem eum nobis veniam nostrum voluptas exercitationem illum praesentium aliquam recusandae est! Officiis eos placeat corrupti quibusdam dolores vero deserunt facilis necessitatibus!
              </div>
            </div>
      
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card p-4 ">
          <div class="card-body d-flex mb-4">
            <div class="card-img d-none d-lg-flex">
              <i class="far fa-user fa-7x ps-3"></i>
                
            </div>
      
            <div class="card-inner col-10">
              <h5 class="card-title mb-1">
                Åke Åkerlund
              </h5>
              <div class="rating mb-2">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <div class="card-text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem eum nobis veniam nostrum voluptas exercitationem illum praesentium aliquam recusandae est! Officiis eos placeat corrupti quibusdam dolores vero deserunt facilis necessitatibus!
              </div>
            </div>
      
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  
</div>
</div>