<div id="portfolio" class="pt-5">
  <div class="container mt-5 pt-5 pb-5">
  <h4 class="mb-3 text-center text-lg-start">Portfolio</h4>
  <div class="row-line d-none d-md-flex"></div>

<div class="row row-cols-1 row-cols-md-3 g-4 justify-content-between">
  <div class="col">
    <div class="card h-100">
      <img
        src="https://mdbootstrap.com/img/new/standard/city/044.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Example</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in to
          additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img
        src="https://mdbootstrap.com/img/new/standard/city/044.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Example</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in to
          additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img
        src="https://mdbootstrap.com/img/new/standard/city/044.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Example</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in to
          additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
  </div>



</div>

<!-- Load more not finished -->
<h5 class="d-flex justify-content-center align-items-center mt-4 text-muted">
  <i class="fas fa-circle me-2"></i>
  <i class="fas fa-circle me-2"></i>
  <i class="fas fa-circle me-2"></i>

</h5>
</div>
</div>