h4 {
  font-family: poppins;
  font-size: 1.8rem;
  font-weight: 200;
}

.row-line { 
  position: relative;
  left: 0px;
  top: -15px;
  z-index: -10px;
  border: 1px solid #A7B19D;
  margin-bottom: 1rem;
  width: 5%;
}

.card:hover {
  border: 0px solid #fff;
  box-shadow: 0 0px 15px 0 #ccc;
}