<div id="about" class="pt-5">
  <div class="container mt-5 pt-5 pb-5">
    <div class=" d-flex p-2 justify-content-center">
      <div class="card-image col-lg-4 d-none d-lg-flex">
        <img src="assets/img/people.png" class=" w-100">
      </div>
      <div class="card-inner col-12 col-lg-4 d-flex justify-content-center align-items-center ms-lg-4 ">
        <div class="card-title">
          <h4>Linnea Matros</h4>
          <p>Welcome to my digital curriculum vitae! <br> My name is Linnea, I'm 24 years old and are studing to become a Front End Developer. I have just finised my first year of the program. I have a few years of experience with HTML and CSS since earlier. 
            <br> <br>
            You can find more about my experiences under my Curriculum Vitae</p>
        </div>
      </div>
    </div>
  </div>
</div>