<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
       <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
      <div class="navbar-nav text-uppercase">
        <a class="nav-link active smooth-scroll me-3" aria-current="page" routerLink="/" fragment="home">Home</a>
        <a class="nav-link smooth-scroll me-3" routerLink="/" fragment="about">About</a>
        <a class="nav-link smooth-scroll me-3" routerLink="/" fragment="portfolio">Portfolio</a>
        <a class="nav-link smooth-scroll me-3" routerLink="/" fragment="cv">CV</a>
        <a class="nav-link smooth-scroll me-3" routerLink="/" fragment="preferences">Preferences</a>
        <a class="nav-link smooth-scroll me-3" routerLink="/" fragment="contact">Contact</a>

      </div>
    </div>
  </div>
</nav>



