<footer class="footer p-5">
  <div class="container">
    <div class="p-5 d-lg-flex justify-content-between text-center">
      <div>
        <h4>Social Media</h4>
          <div class="links text-center mt-3 mb-5">
            <a routerLink="/"><i class="fab fa-twitter me-3"></i></a>
            <a routerLink="/"><i class="fab fa-linkedin-in me-3"></i></a> 
            <a routerLink="/"><i class="fab fa-facebook-f me-3"></i></a>
          </div>
     
      </div>
      <div>
        <h4>Phone number</h4>
        <h5 class="text-center mb-5">0707899722</h5>
        <h4>Email-address</h4>
        <h5 class="text-center mb-5">linneamatros@gmail.com</h5>
      </div>
      
      

      
    </div>

  </div>
</footer>